@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #191f28;
}
#root {
  width: 100%;
  height: 100%;
}

/* remove input number up down button */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}

button {
  border: none;
  outline: none;
}

* {
  font-variant-ligatures: no-contextual;
  box-sizing: border-box;
}
*:focus {
  border: none;
  outline: none;
}
